# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

###########################################
# ignore for react                        #
###########################################
/node_modules
/.pnp
/.pnp.js

# testing
/coverage

# production
/build

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# # local setup file
# .env


###########################################
# misc                                    #
###########################################
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules
