.new-transaction {
    background-color: #4581ef;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-transacion button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #2f4596;
    background-color: #2f4596;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-transaction button:hover,
  .new-transaction button:active {
    background-color: #2f4596;
    border-color: #2f4596;
  }
  
  .new-transaction button.alternative {
    color: #010531;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-transaction button.alternative:hover,
  .new-transaction button.alternative:active {
    background-color: #b3cef8;
  }